@charset "UTF-8";
/* Estilos generales */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
/* Font family 
"Merriweather", serif;*/
/* Body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #EAD196;
  font-family: "Merriweather", serif;
}

/* Títulos */
h1 {
  font-size: 35px;
  text-align: center;
  color: #7D0A0A;
  margin: 50px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  color: #7D0A0A;
  font-weight: bold;
}

/*Textos*/
p {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #000000;
}

/*Header*/
.navegacion {
  background-color: #7D0A0A;
}
.navegacion button {
  background-color: #ffffff;
  color: #ffffff;
}
.navegacion a {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}
.navegacion a:hover {
  color: #ffffff;
  transform: scale(1.2);
}
.navegacion img {
  height: 70px;
}

/*Footer*/
footer {
  background-color: #BF3131;
  margin-top: 50px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-weight: bold;
}
footer div {
  height: 40px;
  width: 20%;
  display: flex;
  justify-content: space-between;
}
footer div img {
  width: 40px;
}

/*Index*/
/* Portada */
.portada {
  background-image: url(../images/foto_portada.png);
  height: 460px;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.portada .titulo_index {
  font-size: 85px;
  color: #ffffff;
  text-shadow: 6px 6px 6px rgba(38, 36, 36, 0.832);
  letter-spacing: 3px;
  word-spacing: 3px;
  margin-bottom: 10px;
}

/* Presentación */
.presentacion {
  height: 450px;
  margin: 0 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.presentacion .texto_presentacion {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentacion .texto_presentacion p {
  text-align: justify;
  margin-top: 20px;
}

/* Integrantes */
.titulo_integrantes {
  font-weight: bold;
  padding-left: 50px;
}

.integrante {
  background-color: #EAD196;
  border-color: #7D0A0A;
  border-width: 2px;
  color: #000000;
  transition: 1s;
}
.integrante:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.integrante h3 {
  text-align: center;
  color: #7D0A0A;
  font-size: 25px;
  font-weight: bold;
}
.integrante p {
  text-align: justify;
}

/* Lista de Spotify */
.spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spotify div {
  width: 90%;
}
.spotify div .titulo_spotify {
  font-weight: bold;
  margin: 30px 0;
}

/*Trayectoria*/
/* Pre-debut */
.predebut, .primer_puesto {
  margin: 100px 50px;
  display: flex;
  justify-content: space-between;
}
.predebut img, .primer_puesto img {
  width: 680px;
  border-radius: 10px;
}
.predebut img:hover, .primer_puesto img:hover {
  transform: scale(1.1);
}
.predebut .predebut_texto, .primer_puesto .predebut_texto {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.predebut .predebut_texto p, .primer_puesto .predebut_texto p {
  text-align: justify;
  margin-top: 20px;
}

/* Debut */
.debut, .gods_menu {
  margin: 120px 50px;
  display: flex;
  justify-content: space-between;
}
.debut img, .gods_menu img {
  width: 680px;
  border-radius: 10px;
}
.debut img:hover, .gods_menu img:hover {
  transform: scale(1.1);
}
.debut .debut_texto, .gods_menu .debut_texto {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.debut .debut_texto p, .gods_menu .debut_texto p {
  text-align: justify;
  margin-top: 20px;
}

/* Primer puesto */
.primer_puesto {
  margin: 120px 50px;
}
.primer_puesto .primer_puesto_texto {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primer_puesto .primer_puesto_texto p {
  text-align: justify;
  margin-top: 20px;
}

/* Gods menu */
.gods_menu {
  margin: 100px 50px;
}
.gods_menu .gods_menu_texto {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gods_menu .gods_menu_texto p {
  text-align: justify;
  margin-top: 20px;
}

/*Discografía*/
.albumes {
  padding: 0;
  margin: 6% 3%;
  display: flex;
  justify-content: space-between;
}
.albumes .albumes_recientes {
  width: 48%;
}
.albumes .albumes_recientes .mixtape_dominate, .albumes .albumes_recientes .rockstar_album, .albumes .albumes_recientes .ate_album, .albumes .albumes_recientes .hop_album {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.albumes .albumes_recientes .mixtape_dominate .mixtape_dominate_texto, .albumes .albumes_recientes .rockstar_album .mixtape_dominate_texto, .albumes .albumes_recientes .ate_album .mixtape_dominate_texto, .albumes .albumes_recientes .hop_album .mixtape_dominate_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_recientes .mixtape_dominate .mixtape_dominate_texto p, .albumes .albumes_recientes .rockstar_album .mixtape_dominate_texto p, .albumes .albumes_recientes .ate_album .mixtape_dominate_texto p, .albumes .albumes_recientes .hop_album .mixtape_dominate_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes .albumes_recientes .hop_album .hop_album_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_recientes .hop_album .hop_album_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes .albumes_recientes .ate_album .ate_album_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_recientes .ate_album .ate_album_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes .albumes_recientes .rockstar_album .rockstar_album_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_recientes .rockstar_album .rockstar_album_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes .albumes_antiguos {
  width: 49%;
}
.albumes .albumes_antiguos .fivestar_album, .albumes .albumes_antiguos .noeasy_album, .albumes .albumes_antiguos .oddinary_album, .albumes .albumes_antiguos .maxident_album {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.albumes .albumes_antiguos .fivestar_album .fivestar_album_texto, .albumes .albumes_antiguos .noeasy_album .fivestar_album_texto, .albumes .albumes_antiguos .oddinary_album .fivestar_album_texto, .albumes .albumes_antiguos .maxident_album .fivestar_album_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_antiguos .fivestar_album .fivestar_album_texto p, .albumes .albumes_antiguos .noeasy_album .fivestar_album_texto p, .albumes .albumes_antiguos .oddinary_album .fivestar_album_texto p, .albumes .albumes_antiguos .maxident_album .fivestar_album_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes .albumes_antiguos .maxident_album .maxident_album_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_antiguos .maxident_album .maxident_album_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes .albumes_antiguos .oddinary_album .oddinary_album_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_antiguos .oddinary_album .oddinary_album_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes .albumes_antiguos .noeasy_album .noeasy_album_texto {
  padding: 20px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.albumes .albumes_antiguos .noeasy_album .noeasy_album_texto p {
  text-align: justify;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.albumes img {
  width: 280px;
  height: 260px;
}
.albumes input {
  color: #ffffff;
  background-color: #BF3131;
  border-radius: 3px;
  padding: 2px 10px;
}
.albumes input:hover {
  color: #000000;
}

/*Tour*/
/* Fechas del tour */
.fechas_tour {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
.fechas_tour input {
  color: #ffffff;
  background-color: #BF3131;
  border-radius: 3px;
}
.fechas_tour input:hover {
  color: #000000;
}
.fechas_tour .primera_fecha {
  height: 200px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fechas_tour .primera_fecha h2 {
  margin-bottom: 30px;
}
.fechas_tour .primera_fecha p {
  margin-bottom: 10px;
}
.fechas_tour .primera_fecha input {
  width: 90px;
  height: 30px;
}
.fechas_tour .segunda_fecha {
  height: 200px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fechas_tour .segunda_fecha h2 {
  margin-bottom: 30px;
}
.fechas_tour .segunda_fecha p {
  margin-bottom: 10px;
}
.fechas_tour .segunda_fecha input {
  width: 90px;
  height: 30px;
}
.fechas_tour .tercera_fecha {
  height: 200px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fechas_tour .tercera_fecha h2 {
  margin-bottom: 30px;
}
.fechas_tour .tercera_fecha p {
  margin-bottom: 10px;
}
.fechas_tour .tercera_fecha input {
  width: 90px;
  height: 30px;
}
.fechas_tour .cuarta_fecha {
  height: 200px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fechas_tour .cuarta_fecha h2 {
  margin-bottom: 30px;
}
.fechas_tour .cuarta_fecha p {
  margin-bottom: 10px;
}
.fechas_tour .cuarta_fecha input {
  width: 90px;
  height: 30px;
}
.fechas_tour .quinta_fecha {
  height: 200px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fechas_tour .quinta_fecha h2 {
  margin-bottom: 30px;
}
.fechas_tour .quinta_fecha p {
  margin-bottom: 10px;
}
.fechas_tour .quinta_fecha input {
  width: 90px;
  height: 30px;
}

/* Galería Tour*/
.titulo_galeria {
  margin: 50px 50px;
}

.galeria {
  display: grid;
  grid-template-areas: "img1 img1 img2" "img3 img4 img2" "img5 img6 img6";
  grid-template-columns: 22% 20% 24%;
  grid-template-rows: 320px 310px 335px;
  gap: 15px;
  justify-content: center;
}
.galeria img {
  height: 100%;
  width: 100%;
}
.galeria .img_1_grid {
  grid-area: img1;
}
.galeria .img_2_grid {
  grid-area: img2;
}
.galeria .img_3_grid {
  grid-area: img3;
}
.galeria .img_4_grid {
  grid-area: img4;
}
.galeria .img_5_grid {
  grid-area: img5;
}
.galeria .img_6_grid {
  grid-area: img6;
}

/*Contacto*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .formulario {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contacto .formulario .descripcion {
  text-align: center;
}
.contacto .formulario form {
  height: 500px;
  width: 55%;
  margin-top: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.contacto .formulario form .botones {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.contacto .formulario form .botones .boton_enviar {
  height: 32px;
  color: #ffffff;
  border-radius: 15px;
  background-color: #7D0A0A;
  margin-bottom: 30px;
}
.contacto .formulario form .botones .boton_enviar:hover {
  color: #000000;
}
.contacto .formulario form .botones .boton_borrar {
  height: 32px;
  color: #ffffff;
  border-radius: 15px;
  background-color: #BF3131;
}
.contacto .formulario form .botones .boton_borrar:hover {
  color: #000000;
}

/*Media Queries*/
@media (max-width: 500px) {
  /* Header */
  .navegacion a:hover {
    transform: scale(1);
  }
  /* Footer */
  footer {
    margin-top: 40px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  footer div {
    height: 20px;
    width: 50%;
    display: flex;
    align-items: center;
  }
  footer div img {
    width: 30px;
  }
  /* Index */ /* Portada */
  .portada {
    height: 140px;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .portada .titulo_index {
    font-size: 20px;
  }
  /* Presentación */
  .presentacion {
    height: 30%;
    margin: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .presentacion iframe {
    height: 120%;
    width: 100%;
  }
  .presentacion .texto_presentacion {
    width: 75%;
    margin-top: 5%;
  }
  /* Lista de Spotify */
  .lista_spotify {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  /* Trayectoria */
  .predebut {
    margin: 20px 40px 50px 40px;
    flex-direction: column;
    align-items: center;
  }
  .predebut img {
    width: 360px;
  }
  .predebut .predebut_texto {
    margin: 20px 0 0 0;
    align-items: center;
  }
  .debut {
    margin: 20px 40px 50px 40px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .debut img {
    width: 360px;
  }
  .debut .debut_texto {
    margin: 20px 0 0 0;
    align-items: center;
  }
  .primer_puesto {
    margin: 20px 40px 50px 40px;
    flex-direction: column;
    align-items: center;
  }
  .primer_puesto img {
    width: 360px;
  }
  .primer_puesto .primer_puesto_texto {
    margin: 20px 0 0 0;
    align-items: center;
  }
  .gods_menu {
    margin: 20px 40px 50px 40px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .gods_menu img {
    width: 360px;
  }
  .gods_menu .gods_menu_texto {
    margin: 20px 0 0 0;
    align-items: center;
  }
  /* Discografía */
  .albumes {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_recientes {
    width: 60%;
  }
  .albumes .albumes_recientes .mixtape_dominate {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_recientes .mixtape_dominate .mixtape_dominate_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  .albumes .albumes_recientes .hop_album {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_recientes .hop_album .hop_album_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  .albumes .albumes_recientes .ate_album {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_recientes .ate_album .ate_album_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  .albumes .albumes_recientes .rockstar_album {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_recientes .rockstar_album .rockstar_album_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  .albumes .albumes_antiguos {
    width: 60%;
  }
  .albumes .albumes_antiguos .fivestar_album {
    flex-direction: column;
    align-items: center;
    margin-top: 22%;
  }
  .albumes .albumes_antiguos .fivestar_album .fivestar_album_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  .albumes .albumes_antiguos .maxident_album {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_antiguos .maxident_album .maxident_album_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  .albumes .albumes_antiguos .oddinary_album {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_antiguos .oddinary_album .oddinary_album_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  .albumes .albumes_antiguos .noeasy_album {
    flex-direction: column;
    align-items: center;
  }
  .albumes .albumes_antiguos .noeasy_album .noeasy_album_texto {
    padding: 8% 0 0 0;
    align-items: center;
  }
  /* Tour */ /* Fechas */
  .fechas_tour {
    flex-direction: column;
    margin: 0 6%;
  }
  .fechas_tour .primera_fecha {
    width: 100%;
    justify-content: space-between;
  }
  .fechas_tour .segunda_fecha {
    width: 100%;
    justify-content: space-between;
  }
  .fechas_tour .tercera_fecha {
    width: 100%;
    justify-content: space-between;
  }
  .fechas_tour .cuarta_fecha {
    width: 100%;
    justify-content: space-between;
  }
  .fechas_tour .quinta_fecha {
    width: 100%;
    justify-content: space-between;
  }
  /* Galería Tour */
  .galeria {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    grid-template-columns: 80%;
    grid-template-rows: 15% 25% repeat(3, 16%) 10%;
    margin-bottom: 15%;
  }
  /* Contacto */
  .contacto .formulario {
    width: 80%;
  }
  .contacto .formulario .descripcion {
    text-align: justify;
  }
  .contacto .formulario form {
    width: 80%;
  }
}

/*# sourceMappingURL=estilos.css.map */
