/* Paleta de colores 
#7D0A0A
#BF3131
#EAD196
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Font family 
"Merriweather", serif; 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* Títulos */
h1{
    font-size: 35px;
    text-align: center;
    color: #7D0A0A;
    margin: 50px;
    font-weight: bold;
}

h2{
    font-size: 24px;
    color: #7D0A0A;
    font-weight: bold;
}

p{
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
    color: black;
}

/* Body */
body{
    background-color:#EAD196;
    font-family: "Merriweather", serif; 
}

/* Header */

.navegacion{
    background-color: #7D0A0A; 
}

.navegacion a{
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
}

nav img{
    height: 70px;
}

.boton_nav{
    background-color: #ffffff;
    color: #ffffff;
}

/* Main Index */

/* Portada */

.portada{
    background-image: url(../images/foto_portada.png);
    height: 460px;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.titulo_index{
    font-size: 85px;
    color: #ffffff;
    text-shadow: 6px 6px 6px rgba(38, 36, 36, 0.832);
    letter-spacing: 3px;
    word-spacing: 3px;
    margin-bottom: 10px;
}

/* Presentación */

.presentacion{
    height: 450px;
    margin: 0 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.texto_presentacion{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_presentacion p{
    text-align: justify;
    margin-top: 20px;
}


/* Integrantes */

.titulo_integrantes{
    font-weight: bold;
    padding-left: 50px;
}

.integrante {
    background-color: #EAD196;
    border-color: #7D0A0A;
    border-width: 2px;
    color: black;
}

.integrante h3{
    text-align: center;
    color: #7D0A0A;
    font-weight: bold;
}

.integrante p{
    text-align: justify;
}

/* Lista de Spotify */

.spotify{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotify div{
    width: 90%;
}

.titulo_spotify{
    font-weight: bold;
    margin: 30px 0
}

/* Main Trayectoria */

/* Pre-debut */
.predebut{
    margin: 100px 50px;
    display: flex;
    justify-content: space-between;
}

.predebut img{
    width: 680px;
}

.predebut_texto{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.predebut_texto p{
    text-align: justify;
    margin-top: 20px;
}

/* Debut */
.debut{
    margin: 120px 50px; 
    display: flex;
    justify-content: space-between;
}

.debut img{
    width: 680px;
}

.debut_texto{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.debut_texto p{
    text-align: justify;
    margin-top: 20px;
}

/* Primer puesto */

.primer_puesto{
    margin: 120px 50px; 
    display: flex;
    justify-content: space-between;
}

.primer_puesto img{
    width: 680px;
}

.primer_puesto_texto{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primer_puesto_texto p{
    text-align: justify;
    margin-top: 20px;
}

/* Gods menu */

.gods_menu{
    margin: 100px 50px; 
    display: flex;
    justify-content: space-between;
}

.gods_menu img{
    width: 680px;
}

.gods_menu_texto{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gods_menu_texto p{
    text-align: justify;
    margin-top: 20px;
}

/* Main Discografía */

.albumes{
    padding: 0;
    margin: 6% 3%;
    display: flex;
    justify-content: space-between;
}

.albumes_recientes{
    width: 48%;
}

.albumes_antiguos{
    width: 49%;
}

.albumes img{
    width: 280px;
    height: 260px;
}

.albumes input{
    color: #ffffff;
    background-color: #BF3131;
    border-radius: 3px;
    padding: 5px;
}

/* Mixtape:Dominate */

.mixtape_dominate{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.mixtape_dominate_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mixtape_dominate_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Hop album*/

.hop_album{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.hop_album_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hop_album_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Ate */

.ate_album{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.ate_album_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ate_album_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Rock-star */

.rockstar_album{
    display: flex;
    justify-content: space-between;
}

.rockstar_album_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rockstar_album_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px; 
}

/* 5-star */

.fivestar_album{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.fivestar_album_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.fivestar_album_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Maxident */
.maxident_album{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.maxident_album_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between 
}

.maxident_album_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Oddinary */

.oddinary_album{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; 
}

.oddinary_album_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.oddinary_album_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Noeasy */
.noeasy_album{
    display: flex;
    justify-content: space-between;
}

.noeasy_album_texto{
    padding: 20px 0 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.noeasy_album_texto p{
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Main Tour */

/* Fechas del tour */
.fechas_tour{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.fechas_tour input{
    color: #ffffff;
    background-color: #BF3131;
    border-radius: 3px;
}

/* Primera fecha */
.primera_fecha{
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primera_fecha h2{
    margin-bottom: 30px;
}

.primera_fecha p{
    margin-bottom: 10px;
}

.primera_fecha input{
    width: 90px;
    height: 30px;
}

/* Segunda fecha */
.segunda_fecha{
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.segunda_fecha h2{
    margin-bottom: 30px;
}

.segunda_fecha p{
    margin-bottom: 10px;
}

.segunda_fecha input{
    width: 90px;
    height: 30px;
}

/* Tercera fecha */
.tercera_fecha{
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tercera_fecha h2{
    margin-bottom: 30px;
}

.tercera_fecha p{
    margin-bottom: 10px;
}

.tercera_fecha input{
    width: 90px;
    height: 30px;
}

.ultimas_fechas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Cuarta fecha */
.cuarta_fecha{
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuarta_fecha h2{
    margin-bottom: 30px;
}

.cuarta_fecha p{
    margin-bottom: 10px;
}

.cuarta_fecha input{
    width: 90px;
    height: 30px;
}

/* Quinta fecha */
.quinta_fecha{
    height: 200px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quinta_fecha h2{
    margin-bottom: 30px;
}

.quinta_fecha p{
    margin-bottom: 10px;
}

.quinta_fecha input{
    width: 90px;
    height: 30px;
}

/* Galería */

.titulo_galeria{
    margin: 50px 50px;
}

.galeria img{
    height: 100%;
    width: 100%
}

.galeria{
    display: grid;

    grid-template-areas: 
    "img1 img1 img2"
    "img3 img4 img2"
    "img5 img6 img6";

    grid-template-columns: 22% 20% 24%;
    grid-template-rows: 320px 310px 335px;

    gap: 15px;

    justify-content: center;

}

.img_1_grid{
    grid-area: img1;
}

.img_2_grid{
    grid-area: img2;
}

.img_3_grid{
    grid-area: img3;
}

.img_4_grid{
    grid-area: img4;
}

.img_5_grid{
    grid-area: img5;
}

.img_6_grid{
    grid-area: img6;
}

/* Main Contacto */

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto section{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.descripcion{
    text-align: center;
}

.formulario form{
    height: 500px;
    width: 55%;
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.form input{
    height: 30px;
}

.botones{
    margin-top: 40px;
    display: flex; 
    flex-direction: column;
    align-items: stretch;
}

.boton_enviar{
    color: #ffffff;
    background-color: #7d0a0a;
    border-radius: 15px;
    margin-bottom: 30px;
}

.boton_borrar{
    color: #ffffff;
    background-color: #BF3131;
    border-radius: 15px;
}

/* Footer */
footer{
    background-color: #BF3131; 
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div{
    height: 40px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-weight: bold;
}

footer img{
    width: 40px;
}

/* mediaQ */

@media (max-width: 500px){

    /* Main Index Portada*/
    .portada{
        height: 140px;
        width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .titulo_index{
        font-size: 20px;
    }

    /* Main Index Presentación */
    
    .presentacion{
        height: 30%;
        margin: 8% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .presentacion iframe{
        height: 120%;
        width: 100%;
    }

    .texto_presentacion{
        width: 75%;
        margin-top: 5%;
    }

    /* Main Index Lista de Spotify */
    .lista_spotify{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    /* Main Trayectoria Hitos Importantes */

    .predebut{
        margin: 20px 40px 50px 40px;
        flex-direction: column;
        align-items: center;
    }

    .predebut img{
        width: 360px;
    }

    .predebut_texto{
        margin: 20px 0 0 0;
        align-items: center;
    }

    .debut{
        margin: 20px 40px 50px 40px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .debut img{
        width: 360px;
    }

    .debut_texto{
        margin: 20px 0 0 0;
        align-items: center;
    }

    .primer_puesto{
        margin: 20px 40px 50px 40px;
        flex-direction: column;
        align-items: center;
    }

    .primer_puesto img{
        width: 360px;
    }

    .primer_puesto_texto{
        margin: 20px 0 0 0;
        align-items: center;
    }

    .gods_menu{
        margin: 20px 40px 50px 40px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .gods_menu img{
        width: 360px;
    }

    .gods_menu_texto{
        margin: 20px 0 0 0;
        align-items: center;
    }

    /* Main Discografía Lista de albumes */

    .albumes{
        flex-direction: column;
        align-items: center;
    }

    .mixtape_dominate{
        flex-direction: column;
        align-items: center;
    }

    .albumes_recientes{
        width: 60%;
    }

    .albumes_antiguos{
        width: 60%;
    }

    .mixtape_dominate_texto{
        padding: 8% 0 0 0;
        align-items: center;
    }

    .hop_album{
        flex-direction: column;
        align-items: center;
    }
    
    .hop_album_texto{
        padding: 8% 0 0 0;
        align-items: center;   
    }
    
    .ate_album{
        flex-direction: column;
        align-items: center;    
    }

    .ate_album_texto{
        padding: 8% 0 0 0;
        align-items: center;    
    }

    .rockstar_album{
        flex-direction: column;
        align-items: center;   
    }

    .rockstar_album_texto{
        padding: 8% 0 0 0;
        align-items: center;   
    }

    .fivestar_album{
        flex-direction: column;
        align-items: center; 
        margin-top: 22%;
    }

    .fivestar_album_texto{
        padding: 8% 0 0 0;
        align-items: center;
    }

    .maxident_album{
        flex-direction: column;
        align-items: center;
    }

    .maxident_album_texto{
        padding: 8% 0 0 0;
        align-items: center;
    }

    .oddinary_album{
        flex-direction: column;
        align-items: center;   
    }

    .oddinary_album_texto{
        padding: 8% 0 0 0;
        align-items: center;
    }

    .noeasy_album{
        flex-direction: column;
        align-items: center;
    }

    .noeasy_album_texto{
        padding: 8% 0 0 0;
        align-items: center;
    }

    /* Main Tour Fechas */

    .fechas_tour{
        flex-direction: column;
        margin: 0 6%;
    }

    .primera_fecha{
        width: 100%;
        justify-content: space-between;
    }

    .segunda_fecha{
        width: 100%;
        justify-content: space-between;
    }

    .tercera_fecha{
        width: 100%;
        justify-content: space-between;
    }

    .cuarta_fecha{
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }

    .quinta_fecha{
        width: 100%;
        justify-content: space-between;
    }

    /* Main Tour Fotos */
    .galeria{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
        grid-template-columns: 80%;
        grid-template-rows: 15% 25% repeat(3,15%) 10%;
    }

    .img_2_grid{
        height: 20px;
    }
    /* Main Contacto Formulario */
    .contacto section{
        width: 80%;
    }

    .descripcion{
        text-align: justify;
    }

    .formulario form{
        width: 80%;
    }

    /* Footer */
    footer{
        margin-top: 40px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    footer div{
        height: 20px;
        width: 50%;
        display: flex;
        align-items: center;
    }


    footer img{
        width: 30px;
    }

}