@use "./variables" as*;
/*Contacto*/
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    .formulario{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .descripcion{
            text-align: center;
        }
        form{
            height: 500px;
            width: 55%;
            margin-top: 50px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            .botones{
                margin-top: 40px;
                display: flex; 
                flex-direction: column;
                align-items: stretch; 
                .boton_enviar{
                    @include boton_contacto;
                    background-color: $rojo_oscuro;
                    margin-bottom: 30px;
                }
                .boton_borrar{
                    @include boton_contacto;
                    background-color: $rojo;
                }   
            }
        }
    }
}