@use "./variables" as*;
/*Discografía*/
.albumes{
    padding: 0;
    margin: 6% 3%;
    display: flex;
    justify-content: space-between;
    .albumes_recientes{
        width: 48%;
        .mixtape_dominate{
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            img {
                border-radius: 10px;
            }
            .mixtape_dominate_texto{
                @include texto_album;
                p{
                    @include parrafo_album;     
                }
            }
        }
        .hop_album{
            @extend .mixtape_dominate;
            .hop_album_texto{
                @include texto_album;
                p{
                    @include parrafo_album;    
                }     
            }
        }
        .ate_album{
            @extend .mixtape_dominate;
            .ate_album_texto{
                @include texto_album;
                p{
                    @include parrafo_album;   
                }
            }  
        }
        .rockstar_album{
            @extend .mixtape_dominate;
            .rockstar_album_texto{
                @include texto_album; 
                p{
                    @include parrafo_album;   
                }  
            }    
        }
    }
    .albumes_antiguos{
        width: 49%;
        .fivestar_album{
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            img {
                border-radius: 10px;
            }
            .fivestar_album_texto{
                @include texto_album;
                p{
                    @include parrafo_album;
                }
            }
        }
        .maxident_album{
            @extend .fivestar_album;
            .maxident_album_texto{
                @include texto_album;
                p{
                    @include parrafo_album;  
                } 
            }   
        }
        .oddinary_album {
            @extend .fivestar_album;
            .oddinary_album_texto{
                @include texto_album;
                p{
                    @include parrafo_album;    
                }  
            }
        }
        .noeasy_album{
            @extend .fivestar_album;
            .noeasy_album_texto{
                @include texto_album;
                p{
                    @include parrafo_album;    
                }   
            }   
        }       
    }
    img{
        width: 280px;
        height: 260px; 
    }
    input{
        color: $blanco;
        background-color: $rojo;
        border-radius: 3px;
        padding: 2px 10px;
        &:hover{
            color: $negro;
        }     
    }
}