@use "./variables" as*;
/* Estilos generales */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Font family 
"Merriweather", serif;*/

/* Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background-color: $amarillo;
    font-family: "Merriweather", serif; 
}

/* Títulos */
h1{
    text-align: center;
    color: $rojo_oscuro;
    margin: 50px;
    font-weight: bold;
}

h2{
    color: $rojo_oscuro;
    font-weight: bold;
}

/*Textos*/

p{
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
    color: $negro;
}

