@use "./variables" as*;
/*Header*/
.navegacion{
    background-color: $rojo_oscuro;
    a{
        color: $blanco;
        font-size: 17px;
        font-weight: bold;
    }
    img{
        height: 70px; 
    }
}

/*Footer*/
footer{ 
    background-color: $rojo; 
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-weight: bold;
    }
    div{
        height: 40px;
        width: 20%;
        display: flex;
        justify-content: space-between;
        img{
            width: 40px;
        }
    } 
}
