@use "./variables" as*;
/*Header*/
.navegacion{
    background-color: $rojo_oscuro;
    button{
       color: $blanco;
    }
    img{
        height: 70px; 
    }
    .paginas{
        a{
            color: $blanco;
            font-size: 17px;
            font-weight: bold;
            &:hover{
                color: $blanco;
                transform: scale(1.2);
            }
        }
    }
}

/*Footer*/
footer{ 
    background-color: $rojo; 
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-weight: bold;
        margin-bottom: 0;
    }
    div{
        height: 40px;
        width: 20%;
        display: flex;
        justify-content: space-between;
        img{
            width: 40px;
            &:hover{
                transform: scale(1.2);
            }
        }
    } 
}
