/*Header*/
.navegacion{
    background-color: #7D0A0A;
    a{
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
    }
    img{
        height: 70px; 
    }
    button{
        background-color: #ffffff;
        color: #ffffff;
    }
}

/*Footer*/
footer{ 
    background-color: #BF3131; 
    margin-top: 50px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-weight: bold;
    }
    div{
        height: 40px;
        width: 20%;
        display: flex;
        justify-content: space-between;
        img{
            width: 40px;
        }
    } 
}
