@use "./variables" as*;
/*Media Queries*/
@media (max-width: 500px){
    /* Footer */
    footer{
        margin-top: 40px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        div{
            height: 20px;
            width: 50%;
            display: flex;
            align-items: center;
            img{
                width: 30px;    
            }  
        }
    }
    
    /* Index *//* Portada */
    .portada{
        height: 140px;
        width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat; 
        .titulo_index{
            font-size: 20px;
        }    
    }
    /* Presentación */
    .presentacion{
        height: 30%;
        margin: 8% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        iframe{
            height: 120%;
            width: 100%;  
        }
        .texto_presentacion{
            width: 75%;
            margin-top: 5%;
        }
    }
    /* Lista de Spotify */
    .lista_spotify{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    /* Trayectoria */
    .predebut{
        margin: 20px 40px 50px 40px;
        flex-direction: column;
        align-items: center;
        img{
            width: 360px;
        }
        .predebut_texto{
            margin: 20px 0 0 0;
            align-items: center;
        }
    }
    .debut{
        margin: 20px 40px 50px 40px;
        flex-direction: column-reverse;
        align-items: center;
        img{
            width: 360px;  
        }
        .debut_texto{
            margin: 20px 0 0 0;
            align-items: center;
        }
    }
    .primer_puesto{
        margin: 20px 40px 50px 40px;
        flex-direction: column;
        align-items: center;
        img{
            width: 360px;
        }
        .primer_puesto_texto{
            margin: 20px 0 0 0;
            align-items: center;
        }
    }
    .gods_menu{
        margin: 20px 40px 50px 40px;
        flex-direction: column-reverse;
        align-items: center;
        img{
            width: 360px;    
        }
        .gods_menu_texto{
            margin: 20px 0 0 0;
            align-items: center;
        }
    }

    /* Discografía */
    .albumes{
        flex-direction: column;
        align-items: center;
        .albumes_recientes{
            width: 60%;
            .mixtape_dominate{
                flex-direction: column;
                align-items: center;
                .mixtape_dominate_texto{
                    padding: 8% 0 0 0;
                    align-items: center;
                }
            }
            .hop_album{
                flex-direction: column;
                align-items: center;
                .hop_album_texto{
                    padding: 8% 0 0 0;
                    align-items: center;   
                }  
            }
            .ate_album{
                flex-direction: column;
                align-items: center;
                .ate_album_texto{
                    padding: 8% 0 0 0;
                    align-items: center;    
                }    
            }
            .rockstar_album{
                flex-direction: column;
                align-items: center;
                .rockstar_album_texto{
                    padding: 8% 0 0 0;
                    align-items: center;   
                }   
            }  
        }
        .albumes_antiguos{
            width: 60%;
            .fivestar_album{
                flex-direction: column;
                align-items: center; 
                margin-top: 22%;
                .fivestar_album_texto{
                    padding: 8% 0 0 0;
                    align-items: center;
                }
            }
            .maxident_album{
                flex-direction: column;
                align-items: center;
                .maxident_album_texto{
                    padding: 8% 0 0 0;
                    align-items: center;
                }   
            }
            .oddinary_album{
                flex-direction: column;
                align-items: center;
                .oddinary_album_texto{
                    padding: 8% 0 0 0;
                    align-items: center;
                }      
            }
            .noeasy_album{
                flex-direction: column;
                align-items: center;
                .noeasy_album_texto{
                    padding: 8% 0 0 0;
                    align-items: center;
                }
            }       
        }
    }

    /* Tour *//* Fechas */
    .fechas_tour{
        flex-direction: column;
        margin: 0 6%;
        .primera_fecha{
            width: 100%;
            justify-content: space-between;
        }
        .segunda_fecha{
            @extend .primera_fecha;
        }
        .tercera_fecha{
            @extend .primera_fecha;
        }
        .cuarta_fecha{
            @extend .primera_fecha;
        }
        .quinta_fecha{
            @extend .primera_fecha;
        }
    }
    /* Galería Tour */
    .galeria{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
        grid-template-columns: 80%;
        grid-template-rows: 15% 25% repeat(3,16%) 10%;
        margin-bottom: 15%;
    }

    /* Contacto */
    .contacto{
        .formulario {
            width: 80%;
            .descripcion{
                text-align: justify;
            }
            form{
                width: 80%;
            }
        }
    }
}
