/*Media Queries*/
@media (max-width: 500px){
    /* Footer */
    footer{
        margin-top: 40px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        div{
            height: 20px;
            width: 50%;
            display: flex;
            align-items: center;
            img{
                width: 30px;    
            }  
        }
    }
    
    /* Main Index Portada*/
    .portada{
        height: 140px;
        width: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat; 
        .titulo_index{
            font-size: 20px;
        }    
    }
    /* Main Index Presentación */
    .presentacion{
        height: 30%;
        margin: 8% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        iframe{
            height: 120%;
            width: 100%;  
        }
        .texto_presentacion{
            width: 75%;
            margin-top: 5%;
        }
    }
    /* Main Index Lista de Spotify */

}
