@use "./variables" as*;
/*Tour*/
/* Fechas del tour */
.fechas_tour{
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
    input{
        color: $blanco;
        background-color: $rojo;
        border-radius: 3px;
        &:hover{
            color: $negro;
        }   
    }
    .primera_fecha{
        height: 200px;
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-bottom: 30px;   
        }
        p{
            margin-bottom: 10px;
            width: 90%;
        }
        input{
            width: 90px;
            height: 30px;    
        }
    }
    .segunda_fecha{
        height: 200px;
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-bottom: 30px;     
        }
        p{
            margin-bottom: 10px;
            width: 100%;
        }
        input{
            width: 90px;
            height: 30px;    
        }
    }
    .tercera_fecha{
        height: 200px;
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-bottom: 30px;     
        }
        p{
            margin-bottom: 10px;
            width: 100%;
        }
        input{
            width: 90px;
            height: 30px;    
        } 
    }
    .cuarta_fecha{
        height: 200px;
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-bottom: 30px;     
        }
        p{
            margin-bottom: 10px;
            width: 100%;
        }
        input{
            width: 90px;
            height: 30px;    
        } 
    }
    .quinta_fecha{
        height: 200px;
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-bottom: 30px;     
        }
        p{
            margin-bottom: 10px;
            width: 70%;
        }
        input{
            width: 90px;
            height: 30px;    
        } 
    } 
}
/* Galería Tour*/
.titulo_galeria{
    margin: 50px 50px;
}
.galeria{
    display: grid;
    grid-template-areas: 
    "img1 img1 img2"
    "img3 img4 img2"
    "img5 img6 img6";
    grid-template-columns: 28% 28% 30%;
    grid-template-rows: 29% 31% 35%;
    gap: 15px;
    justify-content: center;
    img{
        height: 100%;
        width: 100%; 
    }
    .img_1_grid{
        grid-area: img1;
    }
    .img_2_grid{
        grid-area: img2;
    }
    .img_3_grid{
        grid-area: img3;
    }
    .img_4_grid{
        grid-area: img4;
    }
    .img_5_grid{
        grid-area: img5;
    }
    .img_6_grid{
        grid-area: img6;
    }
}