@use "./variables" as*;
/*Trayectoria*/
/* Pre-debut */
.predebut{
    margin: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 45%;
        height: 30%;
        border-radius: 10px;
        &:hover{
            transform: scale(1.1);
        }
    }
    .predebut_texto{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            @include parrafo_hito;
        }
    }
}

/* Debut */
.debut{
    margin: 120px 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 45%;
        height: 30%;
        border-radius: 10px;
        &:hover{
            transform: scale(1.1);
        }
    }
    .debut_texto{
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            @include parrafo_hito;   
        }  
    }   
}

/* Primer puesto */
.primer_puesto{
    @extend .predebut;
    margin: 120px 50px;
    .primer_puesto_texto{
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            @include parrafo_hito;
        }
    }
}

/* Gods menu */
.gods_menu{
   @extend .debut;
    margin: 100px 50px; 
    .gods_menu_texto{
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            @include parrafo_hito;   
        }
    }
}